.student-dashboard {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    cursor: pointer;
    text-align: center;
    border-bottom: 1px solid #444;
}

.sidebar ul li:hover {
    background-color: #555;
}

.content {
    margin-left: 20px;
    padding: 20px;
}

.company-tiles {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.company-tile {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.company-tile h3 {
    margin: 0;
    margin-bottom: 10px;
}

.company-tile p {
    margin: 0;
    margin-bottom: 20px;
}

.company-tile button {
    background-color: rgb(72, 139, 255)
}

.applied-companies-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.applied-companies-table th,
.applied-companies-table td {
    padding: 10px;
    border: 1px solid hsl(0, 0%, 80%);
    text-align: center;
}

